﻿;-------------------
;●声色選択
;-------------------
@INPUT_CFLAG_DISP_REMARK_COLOR(ARG_CHARA, ARG_FIRSTLINE_CONFIG)
	#DIM ARG_CHARA
	#DIM ARG_FIRSTLINE_CONFIG
	#DIM DYNAMIC RESULT_NUM
	#DIM COUNTER_COLOR
	#DIM LOCAL_COLOR
	#DIMS LOCALS_COLOR_TONE
	;
	#DIM COUNTER_CORRECTION
	#DIM COUNTER_CORRECTION_ADD
	#DIM COUNTER_H
	#DIM COUNTER_H_ADD
	#DIM GET_R
	#DIM GET_G
	#DIM GET_B
	#DIMS LOCALS_COLOR
	#DIMS LOCALS_TAG
	#DIM RGB_MIN
	#DIM RGB_MAX
	#DIM INPUT_COLOR_ADD = 100000

	;---------------
	;○除外
	;---------------
	SIF !GROUPMATCH(FLAG:キャラメイクモード, キャラメイクモード_詳細設定生成, キャラメイクモード_カスタム生成)
		RETURN 0

	;---------------
	;○タイトル
	;---------------
	PRINTL 
	CALL BORDER_LINE("LABEL")
	CALL COLOR_PRINT(@"%INDENT(2)%말색 선택", LOOP_NUMBER_COLOR(INPUT_CFLAG_INPUT_NUM_声色設定, "LIGHT"))
	CALL CHECKBOX_GUIDE
	CALL COLOR_PRINT(@"%INDENT(3)%이야기 색상의 설정입니다. 바를 클릭하여 색상을 선택하세요.", PALETTE("GRAY"))
	PRINTL 
	PRINTL 

	;段階調整用FOR文の加算値
	COUNTER_CORRECTION_ADD = 30
	;小数点以下になりにくい数値にしておく
	COUNTER_H_ADD = 6

	;彩度3種類*明度3段階くらい
	;黒背景で見やすいようにRGBの色幅は最低100最高245に絞る
	FOR COUNTER_CORRECTION, 1, 10
		SELECTCASE COUNTER_CORRECTION
		CASE 1
			RGB_MIN = 215
			RGB_MAX = 250
		CASE 2
			RGB_MIN = 190
			RGB_MAX = 230
		CASE 3
			RGB_MIN = 165
			RGB_MAX = 210
		CASE 4
			RGB_MIN = 180
			RGB_MAX = 250
		CASE 5
			RGB_MIN = 160
			RGB_MAX = 230
		CASE 6
			RGB_MIN = 140
			RGB_MAX = 210
		CASE 7
			RGB_MIN = 140
			RGB_MAX = 250
		CASE 8
			RGB_MIN = 120
			RGB_MAX = 245
		CASEELSE
			RGB_MIN = 100
			RGB_MAX = 240
		ENDSELECT
		;タグ組み始め
		LOCALS_TAG '= @"<shape type='space' param='100'>"
		;色相は60度ごとに10段階ずつ
		FOR COUNTER_H, 0, 360, COUNTER_H_ADD
			SELECTCASE COUNTER_H
			CASE 0 TO 60	;赤を固定して緑を増やしていく色相
				GET_R = RGB_MAX
				GET_G = RGB_MIN + ((RGB_MAX - RGB_MIN) / 10 * (COUNTER_H / COUNTER_H_ADD))
				GET_B = RGB_MIN
			CASE 60 TO 120	;緑を固定して赤を減らしていく色相
				GET_R = RGB_MAX - ((RGB_MAX - RGB_MIN) / 10 * ((COUNTER_H - 60) / COUNTER_H_ADD))
				GET_G = RGB_MAX
				GET_B = RGB_MIN
			CASE 120 TO 180	;緑を固定して青を増やしていく色相
				GET_R = RGB_MIN
				GET_G = RGB_MAX
				GET_B = RGB_MIN + ((RGB_MAX - RGB_MIN) / 10 * ((COUNTER_H - 120) / COUNTER_H_ADD))
			CASE 180 TO 240	;青を固定して緑を減らしていく色相
				GET_R = RGB_MIN
				GET_G = RGB_MAX - ((RGB_MAX - RGB_MIN) / 10 * ((COUNTER_H - 180) / COUNTER_H_ADD))
				GET_B = RGB_MAX
			CASE 240 TO 300	;青を固定して赤を増やしていく色相
				GET_R = RGB_MIN + ((RGB_MAX - RGB_MIN) / 10 * ((COUNTER_H - 240) / COUNTER_H_ADD))
				GET_G = RGB_MIN
				GET_B = RGB_MAX
			CASE 300 TO 360	;赤を固定して青を減らしていく色相
				GET_R = RGB_MAX
				GET_G = RGB_MIN
				GET_B = RGB_MAX - ((RGB_MAX - RGB_MIN) / 10 * ((COUNTER_H - 300) / COUNTER_H_ADD))
			ENDSELECT
			LOCALS_COLOR '= "#" + TOSTR(COLOR_FROMRGB(GET_R, GET_G, GET_B), "X6")
			LOCALS_TAG '= LOCALS_TAG + @"<button value='%TOSTR(INPUT_COLOR_ADD + COLOR_FROMRGB(GET_R, GET_G, GET_B))%' title='%LOCALS_COLOR%'><shape type='rect' param='0,0,80,140' color='%LOCALS_COLOR%'></button>"
		NEXT
		LOCALS_TAG '= LOCALS_TAG + "<br>"
		HTML_PRINT LOCALS_TAG
		IF GROUPMATCH(COUNTER_CORRECTION, 3, 6)
			PRINTL 
		ENDIF
	NEXT

	;---------------
	;＞ナビゲーション
	;---------------
	CALL INPUT_CFLAG_DISP_NAVIGATION(ARG_CHARA, ARG_FIRSTLINE_CONFIG)

	;---------------
	;○入力
	;---------------
	INPUT 0
	CLEARLINE 1
	RESULT_NUM = RESULT

	;---------------
	;○結果
	;---------------
	;---------------
	;＞声色(詳細設定/カスタム生成)
	;---------------
	IF RESULT_NUM >= INPUT_COLOR_ADD && INPUT_COLOR_ADD + RESULT_NUM <= COLOR_FROMRGB(255, 255, 255)
		CFLAG:ARG_CHARA:컬러 = RESULT_NUM - INPUT_COLOR_ADD
	;---------------
	;＞ナビゲーション
	;---------------
	ELSE
		RESULT = 0
		CALL INPUT_CFLAG_RESULT_NAVIGATION(RESULT_NUM, ARG_CHARA, ARG_FIRSTLINE_CONFIG)
		IF RESULT
			RETURN 1
		ENDIF
	ENDIF

	RETURN 0

