﻿;------------------
;●ガーデンマップ表示
;	一部にSAVE_GARDEN_MODEを使用する
;------------------
@GARDEN_MAP_DISP
	;--------------
	;○DIM宣言カウンタ
	;--------------
	#DIM DYNAMIC COUNTER_X			;横マス数カウンタ
	#DIM DYNAMIC COUNTER_Y			;縦マス数カウンタ
	#DIM DYNAMIC COUNTER_LAYER		;レイヤ番号用のカウンタ
	;--------------
	;○DIM宣言マップ表示
	;--------------
	#DIMS DYNAMIC TAG_STR							;一行分のタグを代入しながら合成していくための文字列変数
	#DIM DYNAMIC IMG_FONT_SIZE = 200				;フォントサイズに対する１マスの画像サイズ（フォントサイズ18pxを100として画像サイズが２倍の36pxなら200）
	#DIM DYNAMIC LEFT_SHAPE_SPACE = 100		;マップ画像の左側に与える余白
	#DIM DYNAMIC LEAVE_SPACE_BETWEEN = 100 - 33		;ypos用の行間
											;画像サイズが36pxでフォントサイズ18pxの2倍なので
											;2行目からは(行番号-1)*フォント1マス分の100ずらして表示したいが
											;行の高さが24pxなので、100ずつずらすと行間の分の隙間が空いてしまう
											;そこで行の高さ24 / フォントサイズ18 = 1.3333...の33を省きながら行番号-1とかけてyposを出す
											;マス画像のサイズが48pxなら普通に100*COUNTER_Y-1で良さげ？
											;この辺りは計算しなくてもワールドマップみたいに
											;shape使ってnobrとpos使わず組めばやりやすいかも
	;--------------
	;○DIM宣言レイヤー番号
	;--------------
	#DIM DYNAMIC GARDEN_LAYER_MAX_NUM = 12			;レイヤ最大値
	#DIM DYNAMIC GARDEN_LAYER_SOIL_NUM = 1			;地面画像レイヤー番号/画像の重ね合わせ順。小さいほど下
	#DIM DYNAMIC GARDEN_LAYER_TILE_NUM = 2			;園路〃
	#DIM DYNAMIC GARDEN_LAYER_FLOWERBED_NUM = 3		;花壇〃
	#DIM DYNAMIC GARDEN_LAYER_PLANT_NUM = 4			;植物〃
	#DIM DYNAMIC GARDEN_LAYER_INTERIOR_NUM = 5		;装飾〃
	#DIM DYNAMIC GARDEN_LAYER_MASTER_POINT_NUM = 6	;主人公座標
	#DIM DYNAMIC GARDEN_LAYER_CAREMARK_NUM = 7		;世話済みマーク〃
	#DIM DYNAMIC GARDEN_LAYER_CHARA_NUM = 8			;キャラ〃（マスの上半分の座標を使う/同じマスの中で主人公と重ねる）
	#DIM DYNAMIC GARDEN_LAYER_MASTER_NUM = 9		;主人公〃（マスの下半分の座標を使う/〃）
	#DIM DYNAMIC GARDEN_LAYER_WEATHER_NUM = 10		;天候
	#DIM DYNAMIC GARDEN_LAYER_TIMEZONE_NUM = 11		;時間帯
	#DIM DYNAMIC GARDEN_LAYER_CHOOSING_NUM = 12		;選択中〃
	;--------------
	;○DIM宣言その他
	;--------------
	#DIM DYNAMIC TEMP_IMG_NUM	;画像種番号代入用

	;--------------
	;座標Y
	;	HTML_PRINTに渡すタグを作る
	;	HTML_PRINTは改行を含む処理のため
	;	１行分のタグを文字列として合成し終わってから順に表示していく
	;--------------
	FOR COUNTER_Y, 1, GARDEN_MAX_Y + 1
		VARSET TAG_STR
		TAG_STR '= TAG_STR + "<nobr>"
		;----------
		;座標X
		;	横の表示座標調整はbuttonタグしかできないので
		;	本来なら「選択中」レイヤ以外はクリック不可で良いが
		;	重ね合わせをするため全てのレイヤーでbutton nobuttonタグを使用する
		;----------
		FOR COUNTER_X, 1, GARDEN_MAX_X + 1
			DEBUGPRINTFORML X.{COUNTER_X}  Y.{COUNTER_Y}
			;------
			;レイヤー順に合成
			;	重ね合わせ順は入れ換えできるように定数で指定
			;	若い番号ほど下層（先に表示）
			;------
			FOR COUNTER_LAYER, 1, GARDEN_LAYER_MAX_NUM + 1
				;------
				;○レイヤー判定
				;	今回該当レイヤーに指定がなければ次へ
				;------
				;地面
				SIF COUNTER_LAYER == GARDEN_LAYER_SOIL_NUM && !GARDEN_IMG_NUM_SOIL:COUNTER_X:COUNTER_Y
					CONTINUE
				;園路
				SIF COUNTER_LAYER == GARDEN_LAYER_TILE_NUM && !GARDEN_IMG_NUM_TILE:COUNTER_X:COUNTER_Y
					CONTINUE
				;花壇
				SIF COUNTER_LAYER == GARDEN_LAYER_FLOWERBED_NUM && !GARDEN_IMG_NUM_FLOWERBED:COUNTER_X:COUNTER_Y
					CONTINUE
				;植物
				SIF COUNTER_LAYER == GARDEN_LAYER_PLANT_NUM && !GARDEN_IMG_NUM_PLANT:COUNTER_X:COUNTER_Y
					CONTINUE
				;装飾
				SIF COUNTER_LAYER == GARDEN_LAYER_INTERIOR_NUM && !GARDEN_IMG_NUM_INTERIOR:COUNTER_X:COUNTER_Y
					CONTINUE
				;主人公座標
				SIF COUNTER_LAYER == GARDEN_LAYER_MASTER_POINT_NUM && (COUNTER_X != GARDEN_PC_POS_X || COUNTER_Y != GARDEN_PC_POS_Y)
					CONTINUE
				;世話印
				SIF COUNTER_LAYER == GARDEN_LAYER_CAREMARK_NUM && !GARDEN_IMG_NUM_CAREMARK:COUNTER_X:COUNTER_Y
					CONTINUE
				;キャラ
				SIF COUNTER_LAYER == GARDEN_LAYER_CHARA_NUM && !GARDEN_IMG_NUM_CHARA:COUNTER_X:COUNTER_Y
					CONTINUE
				;主人公キャラ
				SIF COUNTER_LAYER == GARDEN_LAYER_MASTER_NUM && (COUNTER_X != GARDEN_PC_POS_X || COUNTER_Y != GARDEN_PC_POS_Y)
					CONTINUE
				;------
				;○レイヤー判定終了
				;	今回該当レイヤーに指定がある
				;------
				;------
				;＞地面
				;------
				SELECTCASE COUNTER_LAYER
				CASE GARDEN_LAYER_SOIL_NUM
					TEMP_IMG_NUM = GARDEN_IMG_NUM_SOIL:COUNTER_X:COUNTER_Y
					TAG_STR '= TAG_STR + @"<nonbutton title='' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
					TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_SOIL_NAME(TEMP_IMG_NUM)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
					TAG_STR '= TAG_STR + "</nonbutton>"
				;------
				;＞園路
				;------
				CASE GARDEN_LAYER_TILE_NUM
					TEMP_IMG_NUM = GARDEN_IMG_NUM_TILE:COUNTER_X:COUNTER_Y
					TAG_STR '= TAG_STR + @"<nonbutton title='' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
					TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_TILE_NAME(TEMP_IMG_NUM)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
					TAG_STR '= TAG_STR + "</nonbutton>"
				;------
				;＞花壇
				;------
				CASE GARDEN_LAYER_FLOWERBED_NUM
					TEMP_IMG_NUM = GARDEN_IMG_NUM_FLOWERBED:COUNTER_X:COUNTER_Y
					TAG_STR '= TAG_STR + @"<nonbutton title='' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
					TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_FLOWERBED_NAME(TEMP_IMG_NUM)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
					TAG_STR '= TAG_STR + "</nonbutton>"
				;------
				;＞植物
				;------
				CASE GARDEN_LAYER_PLANT_NUM
					TEMP_IMG_NUM = GARDEN_IMG_NUM_PLANT:COUNTER_X:COUNTER_Y
					TAG_STR '= TAG_STR + @"<nonbutton title='' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
					;収穫までのターンに応じて、種のプランツタグ画像・芽の画像・収穫可能画像に表示を変える
					TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_PLANT_NAME(TEMP_IMG_NUM, GARDEN_PLANT_TURN:COUNTER_X:COUNTER_Y, CHECK_GARDEN_PLANT_TURN(TEMP_IMG_NUM))%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
					TAG_STR '= TAG_STR + "</nonbutton>"
				;------
				;＞装飾
				;------
				CASE GARDEN_LAYER_INTERIOR_NUM
					TEMP_IMG_NUM = GARDEN_IMG_NUM_INTERIOR:COUNTER_X:COUNTER_Y
					TAG_STR '= TAG_STR + @"<nonbutton title='' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
					TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_INTERIOR_NAME(TEMP_IMG_NUM)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
					TAG_STR '= TAG_STR + "</nonbutton>"
				;------
				;＞主人公座標
				;------
				CASE GARDEN_LAYER_MASTER_POINT_NUM
					TAG_STR '= TAG_STR + @"<nonbutton title='' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
					TAG_STR '= TAG_STR + @"<img src='GARDEN_IMG_MASTER_POINT' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
					TAG_STR '= TAG_STR + "</nonbutton>"
				;------
				;＞世話
				;------
				CASE GARDEN_LAYER_CAREMARK_NUM
					TEMP_IMG_NUM = GARDEN_IMG_NUM_CAREMARK:COUNTER_X:COUNTER_Y
					TAG_STR '= TAG_STR + @"<nonbutton title='' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
					TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_CAREMARK_NAME(TEMP_IMG_NUM)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
					TAG_STR '= TAG_STR + "</nonbutton>"
				;------
				;＞キャラ
				;------
				CASE GARDEN_LAYER_CHARA_NUM
					IF COUNTER_X == GARDEN_PC_POS_X && COUNTER_Y == GARDEN_PC_POS_Y
						TAG_STR '= TAG_STR + IMG_TAG_CHARA(GARDEN_IMG_NUM_CHARA:COUNTER_X:COUNTER_Y, 0, IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y + RAND:100, LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1) + RAND:50)
					ELSE
						TAG_STR '= TAG_STR + IMG_TAG_CHARA(GARDEN_IMG_NUM_CHARA:COUNTER_X:COUNTER_Y, 0, IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y + 45 + RAND:10, LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1) + 45 + RAND:10)
					ENDIF
				;------
				;＞主人公キャラ
				;------
				CASE GARDEN_LAYER_MASTER_NUM
					IF GARDEN_IMG_NUM_CHARA:COUNTER_X:COUNTER_Y
						TAG_STR '= TAG_STR + IMG_TAG_CHARA(MASTER, COUNTER_X + COUNTER_Y * INPUT_MULTI_NUM_Y, IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y + RAND:100, LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1) + 50 + RAND:50)
					ELSE
						TAG_STR '= TAG_STR + IMG_TAG_CHARA(MASTER, COUNTER_X + COUNTER_Y * INPUT_MULTI_NUM_Y, IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y + 30 + RAND:40, LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1) + 30 + RAND:40)
					ENDIF
				;------
				;＞天候
				;------
				CASE GARDEN_LAYER_WEATHER_NUM
					TAG_STR '= TAG_STR + @"<nonbutton title='' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
					TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_WEATHER_NAME(CUSTOM_WEATHER)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
					TAG_STR '= TAG_STR + "</nonbutton>"
				;------
				;＞時間帯
				;------
				CASE GARDEN_LAYER_TIMEZONE_NUM
					TAG_STR '= TAG_STR + @"<nonbutton title='' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
					TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_TIMEZONE_NAME(CUSTOM_TIME)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
					TAG_STR '= TAG_STR + "</nonbutton>"
				;------
				;＞選択中
				;	実質ボタンとして扱うのはここだけ
				;------
				CASE GARDEN_LAYER_CHOOSING_NUM
					;--
					;キャラがいる
					;--
					IF GARDEN_IMG_NUM_CHARA:COUNTER_X:COUNTER_Y
						TAG_STR '= TAG_STR + @"<button value='{COUNTER_X + COUNTER_Y * INPUT_MULTI_NUM_Y}' title='%GARDEN_BUTTON_TITLE:COUNTER_X:COUNTER_Y%' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
						TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_CHOOSING_NAME(選択_不可)%' srcb='%CHECK_GARDEN_IMG_CHOOSING_NAME(選択_会話)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
						TAG_STR '= TAG_STR + "</button>"
					;--
					;植物モードで花壇がある
					;--
					ELSEIF SAVE_GARDEN_MODE == GARDEN_MODE_NUM_植物 && GARDEN_IMG_NUM_FLOWERBED:COUNTER_X:COUNTER_Y
						;花壇があり植物がないとき
						IF !GARDEN_IMG_NUM_PLANT:COUNTER_X:COUNTER_Y
							TAG_STR '= TAG_STR + @"<button value='{COUNTER_X + COUNTER_Y * INPUT_MULTI_NUM_Y}' title='%GARDEN_BUTTON_TITLE:COUNTER_X:COUNTER_Y%' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
							TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_CHOOSING_NAME(選択_不可)%' srcb='%CHECK_GARDEN_IMG_CHOOSING_NAME(選択_種植え)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
							TAG_STR '= TAG_STR + "</button>"
						;収穫可能・植物あり
						ELSEIF GARDEN_PLANT_TURN:COUNTER_X:COUNTER_Y <= 0 && GARDEN_IMG_NUM_PLANT:COUNTER_X:COUNTER_Y
							TAG_STR '= TAG_STR + @"<button value='{COUNTER_X + COUNTER_Y * INPUT_MULTI_NUM_Y}' title='%GARDEN_BUTTON_TITLE:COUNTER_X:COUNTER_Y%' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
							TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_CHOOSING_NAME(選択_不可)%' srcb='%CHECK_GARDEN_IMG_CHOOSING_NAME(選択_収穫)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
							TAG_STR '= TAG_STR + "</button>"
						;未世話
						ELSEIF !GARDEN_IMG_NUM_CAREMARK:COUNTER_X:COUNTER_Y
							TAG_STR '= TAG_STR + @"<button value='{COUNTER_X + COUNTER_Y * INPUT_MULTI_NUM_Y}' title='%GARDEN_BUTTON_TITLE:COUNTER_X:COUNTER_Y%' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
							TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_CHOOSING_NAME(選択_不可)%' srcb='%CHECK_GARDEN_IMG_CHOOSING_NAME(選択_世話)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
							TAG_STR '= TAG_STR + "</button>"
						ELSE
							TAG_STR '= TAG_STR + @"<button value='{COUNTER_X + COUNTER_Y * INPUT_MULTI_NUM_Y}' title='%GARDEN_BUTTON_TITLE:COUNTER_X:COUNTER_Y%' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
							TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_CHOOSING_NAME(選択_不可)%' srcb='%CHECK_GARDEN_IMG_CHOOSING_NAME(選択_通常)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
							TAG_STR '= TAG_STR + "</button>"
						ENDIF
					;--
					;その他（デフォルトの選択画像）
					;--
					ELSE
						TAG_STR '= TAG_STR + @"<button value='{COUNTER_X + COUNTER_Y * INPUT_MULTI_NUM_Y}' title='%GARDEN_BUTTON_TITLE:COUNTER_X:COUNTER_Y%' pos='{IMG_FONT_SIZE * (COUNTER_X - 1) + INPUT_MULTI_NUM_Y}'>"
						TAG_STR '= TAG_STR + @"<img src='%CHECK_GARDEN_IMG_CHOOSING_NAME(選択_不可)%' srcb='%CHECK_GARDEN_IMG_CHOOSING_NAME(選択_通常)%' height='{IMG_FONT_SIZE}' width='{IMG_FONT_SIZE}' ypos='{LEAVE_SPACE_BETWEEN * (COUNTER_Y - 1)}'>"
						TAG_STR '= TAG_STR + "</button>"
					ENDIF
				ENDSELECT
			NEXT
		NEXT
		;------
		;○HTML_PRINTで一行表示
		;------
		TAG_STR '= TAG_STR + "</nobr>"
		HTML_PRINT TAG_STR
		DEBUGPRINTFORM %TAG_STR%
	NEXT
	PRINTL 

	RETURN 0

