﻿;-------------------
;●キャラ画像18*18pxの指定
;	使用例：HTML_PRINT IMG_TAG_CHARA(ARG_CHARA, ARG_INPUT_NUM, ARG_TAG_POS_X, ARG_TAG_POS_Y, "NOBR")
;	目的　：キャラ画像の表示を文字列にして返す
;			表示位置の調整は呼び出し側で行う
;			引数で座標と入力値を指定
;			この式中関数は表示を行わない（他タグの間に埋め込みできるように）
;			表示するときは「HTML_PRINT」を使用する。
;	引数　：ARGS_NOBR	<nobr>タグをつけるかどうか
;						単体でこの式中関数を使う場合<nobr>が必要なので"NOBR"指定する
;						どこかに埋め込む場合は邪魔になるので指定しない
;-------------------
@IMG_TAG_CHARA(ARG_CHARA, ARG_INPUT_NUM, ARG_TAG_POS_X, ARG_TAG_POS_Y, ARGS_NOBR)
	#FUNCTIONS
	#DIM ARG_CHARA								;画像を表示するキャラ
	#DIM ARG_INPUT_NUM							;キャラをクリックしたとき受け取る入力値 0なら<nonbutton>
	#DIM ARG_TAG_POS_X							;座標X
	#DIM ARG_TAG_POS_Y							;座標Y
	#DIMS ARGS_NOBR								;<nobr>タグをつけるかどうか。付けるなら"NOBR"を指定する
	#DIM MAX_GARDEN_CHARA_LAYER = 5				;レイヤ最大値
	#DIM GARDEN_IMG_CHARA_LAYER_BACK_HAIR = 1	;レイヤ番号
	#DIM GARDEN_IMG_CHARA_LAYER_SKIN = 2		;レイヤ番号
	#DIM GARDEN_IMG_CHARA_LAYER_EYE = 3			;レイヤ番号
	#DIM GARDEN_IMG_CHARA_LAYER_FRONT_HAIR = 4	;レイヤ番号
	#DIM GARDEN_IMG_CHARA_LAYER_CLOTHES = 5		;レイヤ番号
	#DIMS GARDEN_IMGNAME_BACK_HAIR				;画像名 後ろ髪
	#DIMS GARDEN_IMGNAME_SKIN					;画像名 肌（素体）
	#DIMS GARDEN_IMGNAME_EYE					;画像名 目
	#DIMS GARDEN_IMGNAME_FRONT_HAIR				;画像名 前髪
	#DIMS GARDEN_IMGNAME_CLOTHES				;画像名 복장
	#DIMS GARDEN_IMGNAME_BACK_HAIR_TAG			;HTMLタグ 後ろ髪
	#DIMS GARDEN_IMGNAME_SKIN_TAG				;HTMLタグ 肌（素体）
	#DIMS GARDEN_IMGNAME_EYE_TAG				;HTMLタグ 目
	#DIMS GARDEN_IMGNAME_FRONT_HAIR_TAG			;HTMLタグ 前髪
	#DIMS GARDEN_IMGNAME_CLOTHES_TAG			;HTMLタグ 복장
	#DIM COUNTER_GARDEN_CHARA_LAYER				;FOR文用カウンタ
	#DIMS DYNAMIC TEMP_TAG_STR							;一時文字列
	#DIMS DYNAMIC IMG_TAG_CHARA_RETURN_STR				;戻り値

	#DIM DYNAMIC GARDEN_IMGNAME_SIZE					;１フォントサイズを100とした画像の縦横サイズ。18px画像でフォント18なら100

	;---------------
	;○各レイヤーのタグを準備
	;---------------
	;---------------
	;＞全レイヤー共通 開始タグ
	;	nonbutton or button
	;---------------
	VARSET TEMP_TAG_STR
	SELECTCASE ARG_INPUT_NUM
	;---------------
	;入力値として渡された引数が0（存在なしと見なす）
	;---------------
	CASE 0
		TEMP_TAG_STR '= @"<nonbutton title='%CNAME(ARG_CHARA)%' pos='{ARG_TAG_POS_X}'>"
	;---------------
	;入力値として渡された引数が存在
	;---------------
	CASEELSE
		TEMP_TAG_STR '= @"<button value='{ARG_INPUT_NUM}' title='%CNAME(ARG_CHARA)%' pos='{ARG_TAG_POS_X}'>"
	ENDSELECT
	GARDEN_IMGNAME_BACK_HAIR_TAG	 '= TEMP_TAG_STR
	GARDEN_IMGNAME_SKIN_TAG			 '= TEMP_TAG_STR
	GARDEN_IMGNAME_EYE_TAG			 '= TEMP_TAG_STR
	GARDEN_IMGNAME_FRONT_HAIR_TAG	 '= TEMP_TAG_STR
	GARDEN_IMGNAME_CLOTHES_TAG		 '= TEMP_TAG_STR

	;---------------
	;＞レイヤー毎のメインタグ
	;	img（髪、肌、瞳などそれぞれのレイヤーに表示する画像名を指定してimgタグを作る）
	;	画像種を大別する			……『GARDEN_IMG_CHARA』
	;	レイヤー番号の文字列化		……『TOSTR(GARDEN_IMG_CHARA_LAYER_BACK_HAIR)』など
	;	髪や肌等の種別名			……『_BARCK_HAIR』など
	;	CFLAGに保存された外見定数	……『"_" + TOSTR(CFLAG:ARG_CHARA:外見_髪長)』など
	;	これらを合成して作った画像名『GARDEN_IMG_CHARA_1_BACK_HAIR_1_1』などがRESOURCESフォルダ内CSVで指定されている前提
	;	GARDEN_IMGNAME_SIZE = １フォント100とした画像のサイズ、縦横幅が同じ画像なのでどっちもこれで指定
	;---------------
	GARDEN_IMGNAME_SIZE = 100
	;---------------
	;後ろ髪
	;---------------
	TEMP_TAG_STR '= ""
	;画像名作り
	IF CFLAG:ARG_CHARA:外見_色変化_髪色
		TEMP_TAG_STR '= "GARDEN_IMG_CHARA_" + TOSTR(GARDEN_IMG_CHARA_LAYER_BACK_HAIR) + "_BACK_HAIR_" + TOSTR(CFLAG:ARG_CHARA:外見_髪長) + "_" + TOSTR(SET_HAIR_COLOR_CONST(CFLAG:ARG_CHARA:外見_色変化_髪色))
	ELSE
		TEMP_TAG_STR '= "GARDEN_IMG_CHARA_" + TOSTR(GARDEN_IMG_CHARA_LAYER_BACK_HAIR) + "_BACK_HAIR_" + TOSTR(CFLAG:ARG_CHARA:外見_髪長) + "_" + TOSTR(CFLAG:ARG_CHARA:外見_髪色)
	ENDIF
	;画像表示タグ作り
	GARDEN_IMGNAME_BACK_HAIR_TAG '= GARDEN_IMGNAME_BACK_HAIR_TAG + @"<img src='%TEMP_TAG_STR%' srcb='%TEMP_TAG_STR%' height='{GARDEN_IMGNAME_SIZE}' width='{GARDEN_IMGNAME_SIZE}' ypos='{ARG_TAG_POS_Y}'>"
	;---------------
	;肌色
	;---------------
	TEMP_TAG_STR '= ""
	IF CFLAG:ARG_CHARA:外見_色変化_肌色
		TEMP_TAG_STR '= "GARDEN_IMG_CHARA_" + TOSTR(GARDEN_IMG_CHARA_LAYER_SKIN) + "_SKIN_" + TOSTR(SET_SKIN_COLOR_CONST(CFLAG:ARG_CHARA:外見_色変化_肌色))
	ELSE
		TEMP_TAG_STR '= "GARDEN_IMG_CHARA_" + TOSTR(GARDEN_IMG_CHARA_LAYER_SKIN) + "_SKIN_" + TOSTR(CFLAG:ARG_CHARA:外見_肌色)
	ENDIF
	GARDEN_IMGNAME_SKIN_TAG '= GARDEN_IMGNAME_SKIN_TAG + @"<img src='%TEMP_TAG_STR%' srcb='%TEMP_TAG_STR%' height='{GARDEN_IMGNAME_SIZE}' width='{GARDEN_IMGNAME_SIZE}' ypos='{ARG_TAG_POS_Y}'>"
	;---------------
	;瞳色
	;---------------
	TEMP_TAG_STR '= ""
	IF CFLAG:ARG_CHARA:外見_色変化_瞳色
		TEMP_TAG_STR '= "GARDEN_IMG_CHARA_" + TOSTR(GARDEN_IMG_CHARA_LAYER_EYE) + "_EYE_" + TOSTR(SET_EYE_COLOR_CONST(CFLAG:ARG_CHARA:外見_色変化_瞳色))
	ELSE
		TEMP_TAG_STR '= "GARDEN_IMG_CHARA_" + TOSTR(GARDEN_IMG_CHARA_LAYER_EYE) + "_EYE_" + TOSTR(CFLAG:ARG_CHARA:外見_瞳色)
	ENDIF
	GARDEN_IMGNAME_EYE_TAG '= GARDEN_IMGNAME_EYE_TAG + @"<img src='%TEMP_TAG_STR%' srcb='%TEMP_TAG_STR%' height='{GARDEN_IMGNAME_SIZE}' width='{GARDEN_IMGNAME_SIZE}' ypos='{ARG_TAG_POS_Y}'>"
	;---------------
	;前髪
	;---------------
	TEMP_TAG_STR '= ""
	IF CFLAG:ARG_CHARA:外見_色変化_髪色
		TEMP_TAG_STR '= "GARDEN_IMG_CHARA_" + TOSTR(GARDEN_IMG_CHARA_LAYER_FRONT_HAIR) + "_FRONT_HAIR_" + TOSTR(SET_HAIR_COLOR_CONST(CFLAG:ARG_CHARA:外見_色変化_髪色))
	ELSE
		TEMP_TAG_STR '= "GARDEN_IMG_CHARA_" + TOSTR(GARDEN_IMG_CHARA_LAYER_FRONT_HAIR) + "_FRONT_HAIR_" + TOSTR(CFLAG:ARG_CHARA:外見_髪色)
	ENDIF
	GARDEN_IMGNAME_FRONT_HAIR_TAG '= GARDEN_IMGNAME_FRONT_HAIR_TAG + @"<img src='%TEMP_TAG_STR%' srcb='%TEMP_TAG_STR%' height='{GARDEN_IMGNAME_SIZE}' width='{GARDEN_IMGNAME_SIZE}' ypos='{ARG_TAG_POS_Y}'>"
	;---------------
	;복장と성별
	;---------------
	TEMP_TAG_STR '= ""
	TEMP_TAG_STR '= "GARDEN_IMG_CHARA_" + TOSTR(GARDEN_IMG_CHARA_LAYER_CLOTHES) + "_CLOTHES_" + TOSTR(CFLAG:ARG_CHARA:복장) + "_" + TOSTR(CFLAG:ARG_CHARA:성별)
	GARDEN_IMGNAME_CLOTHES_TAG '= GARDEN_IMGNAME_CLOTHES_TAG + @"<img src='%TEMP_TAG_STR%' srcb='%TEMP_TAG_STR%' height='{GARDEN_IMGNAME_SIZE}' width='{GARDEN_IMGNAME_SIZE}' ypos='{ARG_TAG_POS_Y}'>"

	;---------------
	;＞全レイヤー共通 終了タグ
	;	/nonbutton or /button
	;---------------
	VARSET TEMP_TAG_STR
	SELECTCASE ARG_INPUT_NUM
	CASE 0
		TEMP_TAG_STR '= "</nonbutton>"
	CASEELSE
		TEMP_TAG_STR '= "</button>"
	ENDSELECT
	GARDEN_IMGNAME_BACK_HAIR_TAG	 '= GARDEN_IMGNAME_BACK_HAIR_TAG + TEMP_TAG_STR
	GARDEN_IMGNAME_SKIN_TAG			 '= GARDEN_IMGNAME_SKIN_TAG + TEMP_TAG_STR
	GARDEN_IMGNAME_EYE_TAG			 '= GARDEN_IMGNAME_EYE_TAG + TEMP_TAG_STR
	GARDEN_IMGNAME_FRONT_HAIR_TAG	 '= GARDEN_IMGNAME_FRONT_HAIR_TAG + TEMP_TAG_STR
	GARDEN_IMGNAME_CLOTHES_TAG		 '= GARDEN_IMGNAME_CLOTHES_TAG + TEMP_TAG_STR

	;---------------
	;○戻り値に渡すHTMLタグ文字列リセット
	;	準備した各レイヤーのタグをレイヤー重ね合わせ順に合成
	;---------------
	VARSET IMG_TAG_CHARA_RETURN_STR

	;---------------
	;○nobrの有無
	;	単体でこの式中関数の結果を表示する場合は必要
	;	他タグの合間に埋め込む場合は邪魔になるので不要
	;---------------
	SELECTCASE ARGS_NOBR
	CASE ""
	CASEELSE
		IMG_TAG_CHARA_RETURN_STR '= "<nobr>"
	ENDSELECT

	;---------------
	;○各レイヤーのタグを重ね合わせ順に代入
	;---------------
	FOR COUNTER_GARDEN_CHARA_LAYER, 1, MAX_GARDEN_CHARA_LAYER + 1
		SELECTCASE COUNTER_GARDEN_CHARA_LAYER
		CASE GARDEN_IMG_CHARA_LAYER_BACK_HAIR
			IMG_TAG_CHARA_RETURN_STR '= IMG_TAG_CHARA_RETURN_STR + GARDEN_IMGNAME_BACK_HAIR_TAG
		CASE GARDEN_IMG_CHARA_LAYER_SKIN
			IMG_TAG_CHARA_RETURN_STR '= IMG_TAG_CHARA_RETURN_STR + GARDEN_IMGNAME_SKIN_TAG
		CASE GARDEN_IMG_CHARA_LAYER_EYE
			IMG_TAG_CHARA_RETURN_STR '= IMG_TAG_CHARA_RETURN_STR + GARDEN_IMGNAME_EYE_TAG
		CASE GARDEN_IMG_CHARA_LAYER_FRONT_HAIR
			IMG_TAG_CHARA_RETURN_STR '= IMG_TAG_CHARA_RETURN_STR + GARDEN_IMGNAME_FRONT_HAIR_TAG
		CASE GARDEN_IMG_CHARA_LAYER_CLOTHES
			IMG_TAG_CHARA_RETURN_STR '= IMG_TAG_CHARA_RETURN_STR + GARDEN_IMGNAME_CLOTHES_TAG
		ENDSELECT
	NEXT

	;---------------
	;○nobrの有無
	;	単体でこの式中関数の結果を表示する場合は必要
	;	他タグの合間に埋め込む場合は邪魔になるので不要
	;---------------
	SELECTCASE ARGS_NOBR
	CASE "NOBR"
		IMG_TAG_CHARA_RETURN_STR '= IMG_TAG_CHARA_RETURN_STR + "</nobr>"
	ENDSELECT

	;---------------
	;○合成したタグを返す
	;	HTML_PRINT IMG_TAG_CHARA(ARG_CHARA, ARG_INPUT_NUM, ARG_TAG_POS_X, ARG_TAG_POS_Y, "NOBR")
	;	等の使用を想定しているが、テキストや他の画像を左右に置きたい場合に備えて出力はここではしない
	;---------------
	RETURNF IMG_TAG_CHARA_RETURN_STR

